@import 'variables';
body {
	background-color:#EEE;
}
nav.sidebar {
	width:250px;
	height:100%;
	background-color:$darkerblue;
	font-family:$logoFont;
	color:#D3D6E6;
	position:absolute;
	z-index:1;
	.rooms-heading {
		padding: 0 10px;
	}
	.rooms {
		margin: 0 10px;
		.room {
			padding:10px;
			margin-top:10px;
			background-color: $darkerdarkerblue;
			border-left-width:3px;
			border-left-style:solid;
			.people-online-in-room {
				float:right;
			}
		}
	}
	.sidebar-heading {
		float:left;
		//border-bottom:2px solid #505985;
		width:100%;
		.close-icon {
			background-color:#505985;
			padding:15px;
			float:left;
		}
		.sidebar-logo {
			float:left;
			line-height:50px;
			text-indent:10px;
			font-size:20px;
		}
	}
}
nav.header {
	height:60px;
	background-color:#39424e;
	width:100%;
	.logo {
		font-size:28px;
		font-family:$logoFont;
		line-height:60px;
		color:white;
	}
}
