@import 'variables';
.navbar-brand small {
	font-size:16px;
	opacity:0.8;
}
.navbar-default, .navbar-brand {
	color: white !important;
}
.modal-room-list {
	.modal-room {
		border: 2px solid $dblue;

		display:inline-block;
		padding:5px;
		border-radius: $border-radius;
		-webkit-transition: 0.2s;
		cursor: pointer;
		margin-left:5px;
		margin-top:5px;
	}
	.modal-room:hover {
		background-color: $dblue;
		color:white;
	}
}
.intro-lead-much-in {
	font-size:40px !important;
}
.intro-lead-in {
	font-size:30px !important;
}
.intro-text {
	padding-top:200px !important;
}
