.border-red {
  border-color: red; }

.border-yellow {
  border-color: yellow; }

.border-green {
  border-color: green; }

.border-blue {
  border-color: blue; }

body {
  background-color: #EEE; }

nav.sidebar {
  width: 250px;
  height: 100%;
  background-color: #111940;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #D3D6E6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }
  nav.sidebar .rooms-heading {
    padding: 0 10px;
    width: 230px; }
  nav.sidebar .rooms {
    margin: 0 10px;
    width: 230px; }
    nav.sidebar .rooms .room {
      padding: 10px;
      margin-top: 10px;
      background-color: #080F30;
      border-left-width: 3px;
      border-left-style: solid;
      cursor: pointer; }
      nav.sidebar .rooms .room .people-online-in-room {
        float: right; }
    nav.sidebar .rooms .room:hover {
      background-color: #505985; }
  nav.sidebar .sidebar-heading {
    float: left;
    width: 250px;
    height: 60px; }
    nav.sidebar .sidebar-heading .close-icon {
      background-color: #505985;
      padding: 20px 20px;
      float: left;
      cursor: pointer; }
    nav.sidebar .sidebar-heading .sidebar-logo {
      float: left;
      line-height: 60px;
      text-indent: 10px;
      font-size: 28px; }

nav.header {
  height: 60px;
  background-color: #39424e;
  width: 100%; }
  nav.header .logo {
    font-size: 28px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 60px;
    color: white;
    cursor: pointer; }
